*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.headersection{
    /* background-color: black; */
    border-bottom: 3px solid rgb(211, 233, 15); 
}
.navbar_items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logoimg{
    background-color: white;
    width: 60px;
    height: 60px;
}
.navbar_icons a{
    text-decoration: none;
    color: black;
    /* background-color: black; */
    margin: 10px 20px;
    padding: 10px 20px;
    font-weight: 700;
}
.navbar_icons a::before{
    border-bottom: none;
}
.navbar_icons a::after{
    border-bottom: 3px solid black;
}

